<!doctype html>
<html ng-app='news'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HN_NEWS</title>
	
	<link href="http://bootswatch.com/united/bootstrap.css" rel="stylesheet"/>
 
</head>
<body>

	 <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">HN_NEWS</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          
          <ul class="nav navbar-nav">
            <li>
              <a href="#" id="themes">New</a>
            </li>
              <li>
              <a href="/submit" id="themes">Submit</a>
            </li>
           </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li><a>{{ request.user }}(1)</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            {% endif %}

          </ul>

        </div>
      </div>
    </div>

	<div class="container">
	      <!-- <div class="page-header" id="banner"> -->
		        <div class="row">
		          {% block content %}
		          {% endblock %}
		        </div>
	       <!-- </div> -->
      	
 	 </div>	

<style type="text/css">
  button.vote {
    background: transparent;
    border: 0;
  width: 32px;
}

button.vote:hover {
    cursor: pointer;
}

</style>
</body>
</html>