{% extends "base.html" %}
{% load humanize %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for news in object_list %}
            <div class="col-md-9 col-lg-9 ">
                <div class="row"> 
                 <div class="col-md-2 col-lg-2">
                     <form method="post" action="{% url 'vote' %}" class="vote_form">
                        {% csrf_token %}
                        <input type="hidden"  name="article" value="{{ news.pk }}" />
                        <input type="hidden"  name="voted_by"  value="{{ user.pk }}" />
                    {% if not user.is_authenticated %}
                    <button title="Please login to vote" class="vote"><img src="/static/vote_up.png"></button>

                    {% elif news.pk not in voted %}
                <button title="Vote up" class="vote"><img src="/static/vote_up.png"></button>
               {% else %}
               <button title="Down Vote" class="vote"><img src="/static/voted_up.png"></button>
               {% endif %}
                    </form>
                </div>
                <div class="col-md-10 col-lg-10">
                    <h4><strong>{{ news.title }}</strong></h4>
                    <span>
                        <p>{{ news.up_votes}} points by <a href="/profile/{{ news.posted_by }}">{{ news.posted_by }}</a> {{ news.posted_on |naturaltime }} | <a href="{{ news.hn_url }}">{{ news.comments }} comments</a></p>
                    </span>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                 {% if user.is_authenticated %}
                    <form method="post" action="{% url 'read' %}" class="read_form">
                        {% csrf_token %}
                        <input type="hidden"  name="article" value="{{ news.pk }}" />
                        <input type="hidden"  name="read_by"  value="{{ user.pk }}" />
                   

                       {% if news.pk in read %}
                    <button title="click to undo" class="btn btn-sm btn-success">marked as read</button>
                        {% else %}                
                        <button class="btn btn-sm btn-warning">mark as read</button>
                        {% endif %}
                    </form>
                    {% endif %}
            </div>
             {% endfor %}
        </div> 
    </div>

</div>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
    {% endif %}
</div>
{% endif %}


{% endblock %}